/* #Animations */

@keyframes emerge {
   from {
      opacity: 0;
      transform: translateY(140px);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}

@keyframes slideRight {
   from {
      opacity: 0;
      transform: translateX(-100%);
   }
   to {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes slideLeft {
   from {
      opacity: 0;
      transform: translateX(100%);
   }
   to {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes fade {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

/* #Media-queries */

@media only screen and (max-width: 300px) {
   html {
      font-size: 55%;
   }
}

@media only screen and (min-width: 800px) {
   .o-logo {
      width: 125px;
      margin-inline-start: 0;
   }
   .c-masthead {
      padding-block: var(--p-7);
   }
   .c-masthead .c-search-toggle {
      display: none;
   }
   .c-masthead .c-btn--primary {
      display: flex;
      padding-block: var(--p-5);
      padding-inline: var(--p-8);
   }
   .c-search-bar--dark {
      display: block;
   }
   .c-critics-section {
      align-items: center;
      gap: 50px;
   }
   .c-critics-section__main {
      text-align: center;
   }
   .c-critics-section .c-btn--secondary {
      align-self: center;
   }
   .c-critics-section__slider {
      justify-content: center;
      overflow-x: initial;
   }
   .c-person-card {
      margin-block-end: 0;
   }
}

@media only screen and (min-width: 1000px) {
   .c-nav-toggle {
      display: none;
   }
   .c-nav-menu,
   .c-search-menu {
      display: none;
   }
   .c-masthead .c-btn--naked {
      display: flex;
      padding-inline: var(--p-3);
   }
   .c-navbar {
      display: flex;
   }
   .c-newsletter-form__input,
   .c-newsletter-form__button {
      padding: 18px 16px;
   }
}

@media only screen and (min-width: 560px) and (max-width: 1109px) {
   .c-footer__group:last-child {
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
   }
   .c-footer__copyright {
      order: 1;
      text-align: initial;
      align-items: start;
      align-self: start;
   }
   .c-footer__news {
      order: 2;
   }
}

@media only screen and (min-width: 1110px) {
   .c-footer__group:last-child {
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
   }

   .c-footer__copyright {
      text-align: initial;
      align-items: start;
   }

   .c-footer__group:first-child .c-footer__col {
      width: max-content;
      min-width: auto;
   }

   .c-footer__col.u-show-on-query,
   .c-footer__news.u-show-on-query {
      width: 325px;
   }

   .u-hide-on-query {
      display: none;
   }

   .u-show-on-query {
      display: block;
   }
}

@media only screen and (min-width: 800px) and (max-width: 1278px) {
   html {
      font-size: 63%;
   }
   .c-hero {
      padding-block: 6.5rem;
   }
   .c-hero__main {
      width: 80%;
      align-self: center;
      max-width: 560px;
      text-align: center;
   }
   .c-hero__main .c-btn--primary {
      align-self: center;
   }
   .o-poster-slider {
      width: var(--content-width);
      padding-block: 0;
      padding-inline: 0;
      justify-content: center;
      gap: 20px;
      overflow-x: initial;
   }
   .o-poster-slider__item {
      width: 100%;
      max-width: 173px;
      justify-content: start;
      flex-shrink: 1;
   }
   .o-poster-slider__item:first-child {
      margin-inline-start: 0;
   }
   .o-poster-slider__item:nth-child(2) {
      margin-block-start: 145px;
   }
   .o-poster-slider__item:nth-child(3) {
      margin-block-start: 89px;
   }
   .o-poster-slider__item:nth-child(even) {
      top: 0;
   }
   .c-reviews-section {
      text-align: center;
   }
   .c-reviews-section__copy {
      margin-inline: auto;
   }
}

@media only screen and (min-width: 1279px) {
   html {
      font-size: 58%;
   }
   .c-hero {
      width: var(--content-width);
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-block: 90px;
   }
   .c-hero__main {
      width: 37%;
      align-self: center;
      min-width: 420px;
      max-width: 647px;
   }
   .o-poster-slider {
      width: 44%;
      max-width: 773px;
      margin-inline-end: 50px;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
         "item1 item2 item4"
         "item1 item3 item4";
      grid-template-rows: 1fr 1fr;
      gap: 15px;
      justify-items: center;
      overflow-x: initial;
   }

   .o-poster-slider__item {
      width: 100%;
      flex-shrink: 1;
   }

   .o-poster-slider__item:nth-child(even) {
      top: 0;
   }

   .o-poster-slider__item:nth-child(2) {
      margin-block-start: 0;
   }

   .o-poster-slider__item:first-child .c-rating-tag,
   .o-poster-slider__item:nth-child(2) .c-rating-tag {
      margin-block-start: 30%;
      left: -50px;
   }

   .o-poster-slider__item:nth-child(3) {
      margin-block-start: 0;
   }

   .o-poster-slider__item:nth-child(3),
   .o-poster-slider__item:last-child {
      margin-inline-end: 0;
      justify-content: end;
   }

   .o-poster-slider__item:nth-child(3) .c-rating-tag,
   .o-poster-slider__item:nth-child(4) .c-rating-tag {
      margin-block-start: 95%;
      left: calc(100% - 50px);
   }

   .o-poster-slider__item:first-child,
   .o-poster-slider__item:nth-child(2) {
      justify-content: start;
   }

   .o-poster-slider__item:first-child {
      align-self: center;
      grid-area: item1;
      margin-inline-start: 0;
   }

   .o-poster-slider__item:nth-child(2) {
      grid-area: item2;
   }

   .o-poster-slider__item:nth-child(3) {
      grid-area: item3;
   }

   .o-poster-slider__item:last-child {
      grid-area: item4;
      align-self: center;
   }

   .c-rating-tag {
      top: 0;
      font-size: var(--fs-6);
   }
   .c-reviews-section {
      flex-direction: row;
      align-items: center;
      text-align: initial;
      justify-content: space-between;
   }
   .c-reviews-section__figure div:nth-child(2) {
      margin-inline-start: -120px;
   }

   .c-scoring-section__scales {
      flex-direction: row;
      gap: 30px;
   }
   .c-person-card {
      width: auto;
      padding-block: 20px;
      padding-inline: 28px;
   }
   .c-critics-section__slider {
      gap: 50px;
   }
}

@media only screen and (min-width: 1800px) {
   html {
      font-size: 75%;
   }
   .u-wrapper {
      max-width: 1790px;
   }
   .c-navbar > .u-wrapper {
      max-width: calc(1770px + (var(--p-7) * 2));
   }
   .c-hero__main {
      max-width: 647px;
   }
   .c-search-bar--dark .c-search-bar__input {
      width: 380px;
   }
   .c-search-bar--dark .c-search-bar__icon {
      top: 30%;
   }
   .c-movies-dropdown__item {
      max-width: 150px;
   }
   .o-poster-slider__item:first-child {
      margin-inline-start: 0;
   }
   .c-reviews-section {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
   }
   .c-reviews-section__figure div:nth-child(2) {
      margin-inline-start: -120px;
   }
   .c-newsletter-form__input {
      width: 240px;
   }
   .c-newsletter-form__button {
      min-width: 117px;
   }
}
